.container div
  margin: 15px

.navigation
  display: flex
  flex-direction: row


.leftNav
  background-color: red
  flex: 1
  display: flex
  color: white
  justify-content: center
  flex-direction: column

.leftNav h2
  align-self: center
  margin: 15px
  font-size: 190%

.rightNav
  height: 300px
  display: flex
  flex: 2
  justify-content: center
  background-color: lightgray

.rightNav img
  position: absolute
  left: 1%
  top: 40px
  width: 100px
  height: 100px


.rightNav h3
  padding: 0 40px
  align-self: center

.rightNav ul
  list-style: none
  display: inline
  position: absolute

.rightNav a
  text-decoration: none
  color: green

.header
  height: 200px
  background-color: #27AAE2
  background-size: cover
  background-position: center
  border-radius: 5px

.header h2
  text-align: center
  margin: 0
  margin-top: 20px
  padding: 0
  font-family: monospace

.header input
  margin: 20px

.header button
  padding: 10px
  border-radius: 5px
  background-color: red
  color: white
  border: none
  display: block
  margin: auto

.getDoctor
  display: flex
  flex-direction: column
  height: 300px

.getDoctor form, h1
  margin-top: 40px
  align-self: center

#showDoctor
  list-style: none
  display: flex
  flex-direction: row
  height: 100%

#showDoctor a
  box-shadow: 0 4px 10px grey
  margin: 10px

#showDoctor a img
  border-radius: 100%
  transform: scale(1)
  padding: 5px

@media screen and (max-width: 600px)
  .navigation
    flex-direction: column

  .leftNav
    flex: 1
    display: flex
    color: white
    justify-content: center
    flex-direction: column

  .leftNav
    flex: 1

  .rightNav
    height: 100px

  .rightNav h3
    font-size: 16px

  .rightNav ul
    display: none
